<div class="blog-post">
<center>
  <h3 class="blog-post-title">
    <% if @do_not_render_title_as_link %>
    Outlook for Fire Monkey 2016: A Surprise for Many
    <% else %>
      <%= link_to "Outlook for Fire Monkey 2016: A Surprise for Many", blog_post_path('outlook_for_fire_monkey_2016') %>
    <% end %>
  </h3>
</center>
<%
# this should be 570 pixels wide
%>
<center><%= image_tag "fire_monkey_celebration.jpg" %></center>
<br />
<p class="blog-post-meta">Feburary 8, 2016 by <a href="/team#tat">Tat</a></p>

<p>
Welcome all—young and old, new and returning readers. First and foremost: Happy Lunar New Year! 
The vast majority of East Asia and Southeast-Asia are celebrating this most auspicious day. As we 
transition into a new annual cycle with fire monkey things will change a bit. Here's the rundown of
what you should expect might happen to you, your pet, or even your <i>cable:</i>
</p>

<p>
This New Year we experience the coming of the Yang Fire Celestial Stem (termed "Bing") and
the <i>Earthly Branch</i> of Monkey ("Shen"). While some other readings might generally
predict its going to be either a good or bad year (implying its that way for <i>everyone</i>),
the truth is always more complex than it would seem. There are multiple layers at work here.
Let's dive further.
</p>

<p>
The reason for this is that in a Four Pillars reading our Earthly Branches are the most dynamic
component and therefore most susceptible to change. These changes might be good, or bad, for you, 
depending on your personal Day Master (or <i>Celestial Element sign</i>).
</p>

<p>Take for example:</p>

<p>
Mr. X has Rat ("Zi") and Dragon ("Chen") among his Earthly Branches with the presence of Monkey
(Shen) in the Year Pillar—which also happens to be the same for 2016 in this case—they'll combine into 
water (if without obstruction from other elements, like wood). If Mr. X's Day Master requires water to 
support him, this year will generally be a smooth one with many occasionally lucky incidents 
throughout.
</p>

<p> 
Both Mr. X and Ms. Y have remarkably similar Four Pillar profiles, yet the slight differences they have
create highly contrasting experiences and outcomes. These variations are vital to consider for a 
thorough and accurate understanding of the Zodiac from Four Pillars of Destiny astrology.
</p>

<p>
Furthermore, an understanding of whether or not Mr. X or Ms. Y have a combination of elements which
obstruct the manifestation of water depends on the Earth Branches and also the particular arrangement 
of the Rat and Dragon within the Four Pillars. If, for instance, there is a Horse between the Rat and 
Dragon then the Horse and Rat are conflicted; the combination obstructs the flow of water and then 
falls short.
</p>

<p>
Back to the topic of the new Fire Monkey year: I have to inform everyone that all Earthly Branches are 
actually combinations of elements. The 2016 Monkey, for example, is a combination of Yang Metal, Yang 
Water and Yang Earth:
</p>

<ul>
  <li>Yang Metal represents military, order, honor, lethalness, and callousness</li>
  <li>Yang Water represents trading (economic), transport, intelligence, indecisiveness, and coldness</li>
  <li>Yang Earth represents stability, generosity, law, construction, stubbornness, and inflexibility</li>
</ul>

<p>
With a Yang Fire sitting on top of these other three elements, we can expect a certain amount of 
socioeconomic and/or political tension and even warfare in the Eastern parts of the world—particularly 
in East Asia. However, a growth in trading will generally be bumpy but will stay together nonetheless. 
Meanwhile, we will also see major improvements in law and construction (like building and 
infrastructure) introduced into this coming year.
</p>

<p>
Depending on your reading, the Fire Monkey year of 2016 is going to offer many different people many
different challenges, opportunities, and outcomes.
</p>

</div><!-- /.blog-post -->
