<div class="blog-post">
<center>
  <h3 class="blog-post-title">
    <% if @do_not_render_title_as_link %>
    Ignite the New Year Revelation by Raising It to the Heavens
    <% else %>
      <%= link_to "Ignite the New Year Revelation by Raising It to the Heavens", blog_post_path('ignite_the_new_year_revelation_by_raising_it_to_the_heavens') %>
    <% end %>
  </h3>
</center>
<%
# this should be 570 pixels wide
%>

<p class="blog-post-meta">February 22, 2016 by <a href="/team#kyle">Kyle</a></p>

<p>
元宵節快樂 (Yuán Xi&#x0101;o Jié Kuài Lè)! Today marks a very special day on the Chinese Lunar Calendar. Today is the Lantern Festival, the official last day of the Chinese New Year (Spring Festival). It's also called the "First Night Festival" or "First First Festival" and it's been going on for a bit more than 2,000 years now. 
The Lantern Festival is always celebrated on the 15th day of the first Chinese lunar month (this year it lands on February 22nd). Today is also the first full moon of the new Fire Monkey year, making it a powerful night to celebrate with the energy of the tides.
</p>

<p>
Since the Eastern Han Dynasty (founded in the year 25) the Buddhist practice of honoring Buddha by lighting lanterns on this day took root and became the custom ever since. 
</p>

<p>
If you heard of the rumors that one should open all of their windows and get down to some serious house cleaning at the New Year, you'd be wrong—it's actually today. While you're at it, take down all of those New Year decorations of red-and-gold ornaments that plaster your house and the street below! Let the dust collected from the year past dissipate in the wind. A new breeze of change is in the air. 
</p>

<p>
Typically, celebrations on this day must include eating great food (like traditional dumpling soup), moon-gazing, fireworks, guessing riddles, walking on stilts, more fireworks, watching the lion and dragon dances, and of course launching lit red lanterns high into the sky with a sense of rejuvenation and best wishes with the start of a New Year.
</p>

<p>
The red shade protects the fragile flame within, shielding it from extinguishment from the winds of the shifting clouds in the midnight sky. Today is the day of Jiā Xū (甲戌), in month of Gēng Yín (庚寅). It is a Wood-Earth day in month of Metal-Wood and we're just getting started. There is much to consider of the Zodiac, the elements, and the Yin and Yang.  
</p>

<p>
In Four Pillars of Destiny Chinese Astrology, the Lantern Festival holds great importance for you since the high-octane energy of the New Year has dissipated and the "birth" of the first full moon of the year is in full swing. The elements of the Fire Monkey year of Bǐng Shēn (丙申) are upon us, and ever-shifting. The year ahead will have many different implications for many different people—it's important to understand this, that this new year is going to be different for everyone. 
</p>

<p>
The months ahead are already transforming. The elements are birthing, colliding; destroying, and transforming. As we look ahead to Spring a new beginning unfolds for you. Take this time to reflect and strategize what is already part of your destiny now. It would only help to <%= link_to "be prepared", '/purchase_reading_service/basic' %>. 
</p>

<p>May this Lantern Festival of 2016 bring you introspection and reflection, happiness and prosperity. </p>
