<div class="blog-post">
<center>
  <h3 class="blog-post-title">
    <% if @do_not_render_title_as_link %>
    Blue Dragon Festival
    <% else %>
      <%= link_to "Blue Dragon Festival", blog_post_path('blog_dragon_festival') %>
    <% end %>
  </h3>
</center>
<%
# this should be 570 pixels wide
%>

<center><%= image_tag "yearofthedragon10.jpg" %></center>
<br />
<p class="blog-post-meta">March 9th, 2016 by <a href="/team#tat">Tat</a></p>

<p>
The 2nd day of the 2nd month in Lunar Calendar mark the day of "龍抬頭" which
literally means "The Dragon raises its head". In Chinese mythology dragons
are celestial beings that were task with managing weather, whether its rain or
storm, typhoon, tsunami were associated with dragon’s blessing or curse.
</p>

<p>
Now we jump back to the term "The Dragon raises its head" means that the
dragon's dormancy was over and ready to bring the rain again. This marks the
turning of spring and bring rain to the land. Its significance was dated back to
pre-Zhou dynasty of China, since China was an agriculture based society back
in the days, this auspicious day marks the beginning of farming activities,
where the soil is soft enough to toil.
</p>

<p>
This tradition is usually carried out in the northern part of China (since the
southern part of China are bless with milder winter and abundance of water)
Since the northern areas of China have less surface water sources while
agricultural activities can’t operate without them, therefore such tradition and
auspicious day was created to notify the locals of the coming rain, it acts as a
ritual to ease the common folks worries and provide them with psychological
supports.
</p>
