<div class="blog-post">
<center>
  <h3 class="blog-post-title">
    <% if @do_not_render_title_as_link %>
    The Common Myths Surrounding any Divination or Readings in Four Pillars Astrology
    <% else %>
      <%= link_to "The Common Myths Surrounding Divination or Reading in Four Pillars Astrology", blog_post_path('common_myths_surrounding_divination') %>
    <% end %>
  </h3>
</center>
<%
# this should be 570 pixels wide
%>
<center><%= image_tag "blog_post3.jpg" %></center>
<br />
<p class="blog-post-meta">February 16, 2016 by <a href="/team#tat">Tat</a></p>

<p>There are a few common misconceptions about astrological charts and readings that I hope to address. You may come across online articles and ads claiming fast-and-easy advice and instant charts on their questionable websites.  While you appreciate what the universe has to offer, these situations usually only provide a tiny sliver of what is <i>actually</i> relevant. Your daily life is complex and you have many layers and dimensions to your being. Many astrology gimmicks use vague descriptions for their advice as just a topical remedy to your concerns.</p> 
<p>To the seasoned astrologer, it is not hard to find the inaccuracies on many predictions from gimmick sites. Their vague suggestions often cause more harm than good if advice is taken seriously (and unfortunately, it frequently <i>is</i>). We all encounter difficulties in our lives. We all seek help, whether we will admit it or not. And it is perfectly acceptable to receive it—from good, caring, and dedicated sources.</p>
<p>Most of the information you find online about astrology and horoscopes lack at least one of these things (and often both):</p>
<ol>
  <div><li><b>A complete account of your <i>entire</i> birth date—the year, month, day, <i>and time</i> you were born.</b> This is crucial for an accurate reading in Chinese and Western astrology alike.</li></div>
  <div style="padding-top: 8px"><li><b>A complete understanding of the ancient wisdom and art form astrologers are practicing.</b> A reading in astrology has a profound impact on whoever receives it. Karmic implications must be greatly respected in all cases, because we should all only be doing <u>our very best</u> when it comes to aiding a person’s <i>life.</i></li></div>
</ol>
<p>Disappointingly, the solutions that so many get-rich-quick astrology groups provide is something like using a band aid for a broken arm. A holistic analysis of your life <i>must</i> be understood. Incidents mean everything; there is no coincidence. You encountered so many obstacles to true astrology <i>so that you could be brought here,</i> where you are truly taken care of.</p>

<p>If any reader wishes to receive services from Eastern or Western divination alike, <i>be absolutely sure</i> that you do at least some research on the individual(s) or group you reach out to. You have to get some basic understanding of the service you pursue. It really helps.</p>
<p>Surely everyone is aware that there are a lot of services online, so it may be difficult to distinguish genuine from hoax. Do your homework and trust your heart. We encourage exploration, questions, and comments of all types because we respect everyone’s very different circumstances and unique path in life.</p>

<h2>How do we do this?</h2>
<p>There are different schools of thought that put a different emphasis on Four Pillars of Destiny reading. Some prefer to pinpoint (with great accuracy) the narrative of your ups and downs in life, noting specific incidents that happened to you or your surrounding friends and family.</p>
<p>Our branch of reading is different in the sense that we look at the composition of your life to determine your personality and the likely outcomes that stem from your personality. Your personality depends on the situations which might assist or hamper the grand journey we call life. We focus less on the trivial details of the incidents which already happened (but we still mention them) and more on what <i>affects</i> you and how to overcome major obstacles to your life.</p>
<p>Remember again, ethereal advice is not a golden handbook that promises certain rescue or salvation. Four Pillars acts more like a road sign (mile marker) and it is ultimately <i>up to you</i> on how you choose your direction of travel. Astrology readings are also tools for introspective examination of the past and present, to reflect upon our own actions and serve as lessons for future reference.  We want you all to be well-informed, not misguided.</p>
<p>‘Till then, we all at Revealing Fate wish everyone here true enlightenment. Feel free to ask questions and comment on your thoughts and experiences. We always do our very best to answer, and love and appreciate our community. Have a beautiful day!</p>






</div><!-- /.blog-post -->
