<% if @post_not_found %>
<div class="alert alert-danger" role="alert">That post was not found</div>
<% end %>

<div class="container">

  <div class="blog-header">
    <center><h2 class="blog-title">Weekly Musings of an Astrologer</h2></center>
  </div>

  <hr />

  <div class="row">
    <%= render partial: 'blog_posts/post_2' %>
    <hr />
    <%= render partial: 'blog_posts/post_1' %>
  </div><!-- /.row -->

</div><!-- /.container -->
