
<%= content_for :significance do %>
<h2>Significance of Your Celestial Element Sign</h2><hr />

<p>
  You are born into this world from the heavens with the Yin Earth sign (Day Master)—the equivalent of the fertile soil, plentiful fields, or abundant patty. Yin Earth is the most nurturing of all the elements, and it allows all things to grow. You are giving, sensitive, and grounded when at your best; stubborn, dredging, and obstructive when at your worst. In all instances you are convicted.
</p>

<p>
To foster healthy relationships, you need to let things seed into you; time and patience are required for personal development. Observe the dynamic between all living things and the absorbent, fertile soil: without the essential medium for all of the Five Phases there exists no balance. You should be aware that you have a tendency to retain your emotions until the threshold is broken, creating sudden outbursts and brashness. Always keep an open mind towards all things, listening to people and signs that surround you in order to effectively communicate with all involved parties so as a consensus can be reached.
</p>

<h2>Significance of the Year Pillar</h2><hr />

<p class="significance">The Year Pillar represents the dynamics of your early life—typically from age 1 – 20 years</p>

<p class="significance">It also represents the relationships with your parents, elders (such as uncles and aunts), grandparents, and in some cases legal guardians.</p>

<p>
Fire bears the Earth element; the Yang Fire Stem sits atop a Yang Earth Branch (Dog Zodiac)—within the season of Rejuvenation – Injury. Within this Pillar, the Yang Fire acts as Direct Resource to the Yin Earth; the Yang Earth acts as Benevolent Plunder; the Yin Metal acts as Consuming Spirit; and the Yin Fire acts as Indirect Resource. With this setup, it is clear that you are an individual of filial piety. You basked in all sorts of compliments and flattery as a child. Your father in particular left you with much of his wealth. Your parents and elders frequented religious gatherings with the intent of instilling a sense of duty in you and culturing expectations.
</p>

<p>
With the presence of Benevolent Plunder in the Year Pillar, it is easy for you to encounter relationship hurdles. Most likely you engaged in competition among other suitors for your significant other(s) prior to marriage and encountered trust issues with them following your marriage. As a youngster you were a big spender despite there being some financial issues in the household. You learned to work early on and always appreciated maturity in your significant other(s). You are also an individual that either easily befriends or fights others—there is not much of a middle-ground with you. For one of your parents, you were their main concern from an early age. However, you were an understanding child with unusual sensibilities and had the ability to handle a diverse set of issues with ease.
</p>

<h2>Significance of the Month Pillar</h2><hr />

<p class="significance">The Month Pillar represents the dynamics of your period of life from age 21 – 40 years</p>

<p class="significance">It also represents the relationships with your siblings, peers, colleagues, and friends. These are the most influential people in your life during your personal development stage.</p>

<p>
Wood bears the Fire element; the Yang Wood Stem sits atop the Yang Fire Branch (Horse Zodiac)—within the Season of Warmth – Fading. The Yin Fire within acts as Indirect Resource and the Yin Earth as Peer Assistance. This indicates that you are rebellious in nature and easily offend others. You also love to put up a front (use your “poker face”) and it often causes monetary loss and betrayal by people considered close to you.
</p>

<p>
With the presence of Peer Assistance in the Month Pillar, you place your relationship with siblings and friends at the forefront—much to the complaint from your significant other(s). You earn what you get from working hard with your own efforts and accumulate many friends from business interactions. You also simultaneously get caught up in bitter squabbles involving monetary issues, but you are not stingy by any means; you will lend money to others when you are able to.
</p>

<h2>Significance of the Day Pillar</h2><hr />

<p class="significance">The Day Pillar represents the dynamics of your period of life from age 41 – 60 years</p>

<p class="significance">It also represents relationships with the self, significant other(s), and with close friends as they truly understand and accept the real, core ‘you.’</p>

<p>
The Yin Earth Stem sits atop a Yin Earth Branch (Goat Zodiac)—within the Season of Comfort – Reluctance. The Yin Earth represents Peer Assistance; the Yin Fire represents Indirect Resource; and the Yin Wood represents Seven Threats. You tend to like mature partners(s) and have often relied on them, gotten used to their consistent support, or secretly yearn to rely on them. Furthermore, when Seven Threats appears in the Day Pillar this shows your significant other(s) is mostly stern, aggressive, and/or short-tempered.
</p>

<p>
Your ideal partner(s) or spouse(s) is someone with multiple talents, a straightforward character, and a natural ease in making friends and establishing connections. They are also dependable, strongly opinionated, and powerfully suggestive.
</p>

<h2>Significance of the Hour Pillar</h2><hr />

<p class="significance">The Hour Pillar represents the dynamics of your late life from age 61 years – when you've completed this life.</p>
</span>

<p class="significance">The Hour Pillar also represents the relationships with your offspring, younger adults, and your grand-children.</p>

<p>
Earth is born of Fire; the Yin Earth Stem sits atop the Yin Fire Branch (Snake Zodiac)—within the Season of Destiny – Fatality. Again, Yin Earth acts as Peer Assistance; Yang Fire as Direct Resource; Yang Earth as Benevolent Plunder; and Yang Metal as Rebellious Officer.
</p>

<p>
You dislike staying with your kids to live and being dependent on them. You are particularly uncomfortable of the thought of them preventing you from doing what you want to at this age. Henceforth, the money that you earned up to and during this period can easily be lost and the financial difficulties may ensue. You treat your children well however they encounter fierce competition among your colleagues and contemporaries during this time.
</p>

<p>
Benevolent Plunder acts similarly as Peer Assistance within your Time Pillar; you may easily pass down your inheritance or trade to your partner(s) and offspring. However, you do encounter financial difficulties during these latter years which takes part in fueling low self-esteem. You are prideful and therefore do not want to stay with your children but often regret having to make this decision—whichever you do decide.
</p>

<p>
You do not communicate well with your children. You sometimes unknowingly hurt your children more so than you realize, and as you age your body endures considerable physical stress and frailty.
</p>
<% end %>

<%= content_for :analysis do %>

<h3>Nature and Disposition Analysis:</h3>
<p>
You are an ambitious, spontaneous, energetic, vigorous, aggressive, and competitive individual with a strong heart. You are shrewd, nimble, and possess a keen power of observation and sharp perception. Your willpower is staunch and extraordinarily opinionated, yet you are particularly adept at handling settlements and solving problems. In handling all matters you demand perfection.
</p>
<p>
When at your best you are intensely ambitious, capable of accomplishing anything at any cost, and succeed at reaching goals and making big achievements; at your worst you are excessively self-demanding and self- pressured, lacking in patience, and eager to prompt others to do your bidding.
</p>
<h3>Shao Kang-Jie’s Four Characters:</h3>
<p>
The four words which poetically represent your complete life journey are Yán Lǐng Huā Fā (岩嶺花發): “Blossoming Flower on the Rocky Height.” This anthological excerpt is widely interpreted for a variety of conditions yet remains true among all scenarios independent of scale. It may also be translated as “Atop the Perilous Ridge a Flower Blossoms.”
</p>
<p>
It serves as an analogy to depict the degree of tenacity you exhibit in your endeavor(s); in order for a flower to root itself on top of a towering granite mountain peak a tremendous effort is required. The process may be extreme, most challenging, slow, and arduous, however once the flower has blossomed (read: you have realized your potential and achieved success through strife) no one can do anything to pluck that flower lest they scale the mountainside at their own peril. In other words, once “there” you are virtually untouchable. The day the flower succumbs is the day it wilts by its own measure of existence. Furthermore, for a flower to bloom in such a harsh and desolate environment there lacks anyone around to enjoy, appreciate, or validate it. Because of this, it is also a remote and lonely existence in solitude.
</p>
<h3>Feng Shui Analysis:</h3>
<p>
The directions of Center and South are most beneficial to you, respectively. Choose a bedroom located on the South or Southwest side of your home and position the headboard of your bed to follow suit (so that your head points to the South or Southwest). Avoid a wooden bed frame decorate your interior with stones and earthenware such as decorative rocks, vases, and pottery. Also avoid hard wood flooring and opt for granite or stone countertop. Interior decorating should follow an earthy, brown, sandy, or yellow color scheme. Candles are excellent in decoration and for meditation.
</p>
<p>
Certain regions of the world, countries, and hemispheres are also more beneficial to you. The best places to travel or live are Mexico, Central Africa, and the Mediterranean. You may perhaps benefit from visiting and habituating broad, dense, grounding regions with dense earth and rich geothermic activity (for example, a volcanic island or tectonic hotspot). In nature, entropic heat and rich soil is a most harmonious pairing of environment with your energetic presence.
</p>
<h3>Propositions for the Day Master:</h3>
<p>
Your luckiest numbers are zero and five, however two and seven are also lucky. The transitionary periods between the changing seasons are particularly preferable for you. The mid-summer season and hot weather are also beneficial. However, do not act recklessly in the spring. It is also important to occupy an environment not too humid.
</p>
<p>
The months of Earth and years of Ox, Goat, Dragon, and Dog are comparatively lucky; the months of Fire and years of Horse and Snake are also somewhat lucky. Exercise caution and deep introspection during the months of Wood and years of Rabbit and Tiger.
</p>
<p>
Your most auspicious times are between the hours of one and three (both AM and PM), however the hours between seven and nine (both AM and PM) and the lunchtime (high noon) hours are also auspicious. You generally fare better at engaging in meaningful work at two and eight o’clock (both AM or PM) and should avoid all important matters and serious activity during the mid- morning.
</p>
<p>
Your auspicious colors are Brown (with darker brown as more favorable), Yellow, Red, and Purple. Avoid Green (especially dark Green), Blue, Grey, and Black.
</p>
<h3>Conclusion and Suggestions</h3>

<p>
Your parents or grandparents endowed you with some land or property and your household was managed mostly by a female figurehead during your childhood. <span class="last-sentence-of-paragraph">This is indicated by the presence of Direct Resource of the Ten Gods within your Year Pillar.</span>
</p>
<p>
You are very likely to be burdened with lots of pressure, expectations, and problems for the rest of your life. In this sense, the lifelong theme of strife will not cease. <span class="last-sentence-of-paragraph">This is indicated by the Net Transformative Tendencies of your Five Phases yielding a significant surplus and the substantial prevalence of the Stars of Assistance and Stars of Nurturing among the Ten Gods.</span>
</p>
<p>
You were happy, smart, and learned diligently as a child. You were also born to an affluent family with your parents working hard to amass their resources. <span class="last-sentence-of-paragraph">This is indicated by the presence of Consuming Spirit of the Ten Gods within the Year Pillar.</span>
</p>
<p>
Your father was likely involved in a marital affair and hurt your mother. He was absent from much of your childhood and treasured by your grandmother (with whom she likely sided with in light of the affair)—which further hurt your mother. <span class="last-sentence-of-paragraph">This is indicated by Indirect Resource of the Ten Gods within the Year Pillar and the dynamics of the Season of Rejuvenation – Injury.</span>
</p>
<p>
Your significant other(s) places their relationships with siblings and friends above their relationship with you and they also act and behave similar to you (mirroring your energy). <span class="last-sentence-of-paragraph">This is indicated by the presence of Peer Assistance of the Tend Gods within the Day Pillar.</span>
</p>
<p>
You married late and experience significant marital issues due to excessive expectations and overly high standards you impose on your significant other(s). <span class="last-sentence-of-paragraph">This is indicated by the presence of Indirect Resource of the Ten Gods within your Day Pillar and its relationship with a significant surplus of your Net Transformative Tendencies of the Five Phases.</span>
</p>
<p>
Medicine only has a slight effect on you in your old age. <span class="last-sentence-of-paragraph">This is indicated by Peer Assistance of the Ten Gods within your Time Pillar.</span>
</p>
<p>
Your grandchildren are stubborn and easily defame you. <span class="last-sentence-of-paragraph">This is indicated by the prevalence of Rebellious Officer of the Ten Gods within your Time Pillar.</span>
</p>
<p>
Your physical body is prone to excess, stagnation, heat, and specific health issues involving muscles, tissues, and the heart and spleen channels (Traditional Chinese Medicine terms). These represent toxicological retention, poor or diminished tissue expression, inflammation, and involve the cardiovascular, circulatory, and digestive systems, respectively. Should problems occur they will likely manifest as bloating, edema, emotional distress and accumulation, inflammatory disease(s), hypertension, ulcers, inflammatory bowel disease, immunodeficiency, stroke, heart disease, and heart attack. You are especially prone to anxiety and bitterness, respectively. To avoid this, relish in your joyful experiences and empathic exchanges with others in an uninhibited fashion. Additionally, you should avoid overindulgence in sweets or desserts, excessive thinking, worrying, and anxious behaviors. <span class="last-sentence-of-paragraph">This is indicated by an extremely powerful Yin Earth sign, the prevalence of Earth and Fire within your Four Pillars, and the dynamics of having to supplement with these very same respective elements.</span>
</p>
<p>
You should do gardening, go camping, and go on walks for exercise; play chess for leisure; and take solace in spiritual ceremony. <span class="last-sentence-of-paragraph">This is indicated by your Net Transformative Tendencies of the Five Phases, Feng Shui dynamics, and an affinity for the Earth element.</span>
</p>
<p>
You are a tenaciously resilient, overtly passionate, and intense individual who is disinclined to change views once your opinion is formed. Although you may feel compassionate towards people your intended kindness has a tendency to be seen as pressing and lofty—typically causing more harm than good. <span class="last-sentence-of-paragraph">This is indicated by the overwhelming prevalence of Earth and Fire, the extreme scarcity of Metal, and the complete absence of Water within your Four Pillars.</span>
</p>
<p>
You tend to hold grudges easily and excessive Fire makes for a very dry Earth. A moist Yin Earth sign will attract and receive a wide range of energies, but a dry field will only yield the hardiest ones capable of enduring such harsh conditions. A desertified wheat field is not fertile—it primarily manifests the dissolute and aggressive. It is to be expected that you may be constantly betrayed by the people you trust. <span class="last-sentence-of-paragraph">This is indicated by the overwhelming prevalence of Fire in your Four Pillars and the dynamic of Earth as a particularly receptive element.</span>
</p>
<p>
You rarely make decisions based solely on rational conclusion. Instead, you have a knack for focusing on the social implications of your involvements while risking your own career and reputation. <span class="last-sentence-of-paragraph">This is indicated by the significant lack of Metal in your Four Pillars.</span>
</p>
<p>
Despite the tendency for you become overborn with passion, there is a small part of you reserved in presence. However, this can easily and quickly dissolve given the environment. <span class="last-sentence-of-paragraph">This is indicated by the minor presence of Wood in your Four Pillars and the propensity of Fire to phase this energy.</span>
</p>

<% end %>

<%= content_for :comments do %>
<div class="fb-comments" data-href="http://www.revealingfate.com/unknown_candidate_1" data-numposts="10"></div>
<% end %>

<%= render partial: 'celeb_readings/celeb_reading', locals: {
  title: 'First Mystery Candidate',
  name: 'trump',
  url: '/unknown_candidate_1#vote'
} %>

