<%= content_for :significance do %>

<p>
Significance of Your Celestial Element Sign
You are born into this world from the heavens with the Yin Earth sign (Day Master)—the equivalent of the fertile soil, plentiful fields, or abundant patty. Yin Earth is the most nurturing of all the elements, and it allows all things to grow. You are giving, sensitive, and grounded when at your best; stubborn, dredging, and obstructive when at your worst. In all instances you are convicted.  
</p>
<p>To foster healthy relationships, you need to let things seed into you; time and patience are required for personal development. Observe the dynamic between all living things and the absorbent, fertile soil:
without the essential medium for all of the Five Phases there exists no balance. You should be aware that you have a tendency to retain your emotions until the threshold is broken, creating sudden outbursts and brashness. Always keep an open mind towards all things, listening to people and signs that surround you in order to effectively communicate with all involved parties so as a consensus can be reached. 
</p>

<h2>Significance of the Year Pillar</h2>

<p>
The Year Pillar represents the dynamics of your early life—typically from age 1 – 20 years
It also represents the relationships with your parents, elders (such as uncles and aunts), grandparents, and in some cases legal guardians.
</p>
<p>
Metal is invaded by the Fire element; the Yin Metal Stem sits atop the Yin Fire Branch (Snake Zodiac)—within the Season of Destiny – Fatality.  Within this Pillar, the Yin Metal represents Consuming Spirit to the Yin Earth; the Yang Fire represents Direct Resource; the Yang Earth represents Benevolent Plunder; and the Yang Metal represents Rebellious Officer. With this setup, it is clear that you are an individual of filial piety. You were clever and eager to learn with diligence as a child. One parent in particular worked hard to financially support you.
</p>
<p>
With the presence of Benevolent Plunder in the Year Pillar, it is easy for you to encounter relationship hurdles. Most likely you engaged in competition among other suitors for your significant other(s) prior to marriage and encountered trust issues with them following your marriage. As a youngster you were a big spender despite there being some financial issues in the household. You learned to work early on and always appreciated mature women. You are also an individual that either easily befriends or fights others—there is not much of a middle-ground with you. For one of your parents, you were their main concern from an early age. However, you were an understanding child with unusual sensibilities and had the ability to handle a diverse set of issues with ease. 
</p>

<h2>Significance of the Month Pillar</h2>

<p>
The Month Pillar represents the dynamics of your period of life from age 21 – 40 years
It also represents the relationships with your siblings, peers, colleagues, and friends. These are the most influential people in your life during your personal development stage.
</p>
<p>
Fire invades the Metal element; the Yin Fire Stem sits atop the Yin Metal Branch (Rooster Zodiac)—within the Season of Attraction – Obsession. The Yin Fire within represents Indirect Resource and the Yin Metal represents Consuming Spirit. This indicates that while determined for justness you have a tendency towards rebellion—in a socially-polarizing fashion (i.e. people either love or hate you). During this period, it was very difficult to dissuade you after making up your mind and formulating your own opinion(s) with most things. As a young adult you were driven in an overtly passionate way and were granted the resources for your endeavors, yet your outlet(s) were appropriately placed.
</p>
<p>
With the presence of Consuming Spirit in the Month Pillar, you like to tinker with creative outlets, involvement, and projects. You like art, music, and good food. You very much appreciate reinvention through research and a hands-on approach with the things you are most passionate for. You are fond of literature and excel at a literary, catalogue, or translation tasks. You dislike relying on family pedigree as a means to project yourself and you appreciate the notion of creating your own destiny and independence. 
</p>

<h2>Significance of the Day Pillar</h2>

<p>
The Day Pillar represents the dynamics of your period of life from age 41 – 60 years
It also represents relationships with the self, significant other(s), and with close friends as they truly understand and accept the real, core ‘you.’  
The Yin Earth Stem sits atop a Yin Earth Branch (Goat Zodiac)—within the Season of Comfort – Reluctance. The Yin Earth represents Peer Assistance; the Yin Fire represents Indirect Resource; and the Yin Wood represents Seven Threats. You tend to like mature women and have often relied on them, appreciate their consistent support, or secretly yearn to rely on them. Furthermore, when Seven Threats appears in the Day Pillar this shows your significant other(s) is strong, unyielding, and/or short-tempered.
Your ideal partner(s) or spouse(s) is someone highly capable, open-minded, social, somewhat impatient, direct, and bold. They are also susceptible to illness due to the sense of duty and weight of responsibility that they shoulder. 
</p>
<p>

<h2>Significance of the Hour Pillar</h2>
<p>
The Hour Pillar represents the dynamics of your late life from age 61 years – when you've completed this life
The Hour Pillar also represents the relationships with your offspring, younger adults, and your grand-children.

</p>
<p>
Metal is invaded by the Fire element; the Yang Metal Stem sits atop the Yang Fire Branch (Horse Zodiac)—within the Season of Warmth – Fading. The Yang Metal acts as Rebellious Officer; Yin Fire as Indirect Resource; and Yin Earth as Peer Assistance.

</p>
<p>
As you age, it is likely that you will encounter financial problems surrounding disingenuous interests, knaves, and phonies. Due to the Indirect Resource in this Pillar, the trouble that you accrue (whether unintentional or otherwise) directly correlates to the increasing stubbornness you exhibit as you get older. This stubbornness gradually transitions into a defiance; you do not want to live with your children in old age because you so strongly embody principles of self-reliance. However, due to the Peer Assistance in this Pillar, you secretly wish that they spend more time with you as you become less independent.
</p>

<% end %>

<%= content_for :analysis do %>

<h3>Five Phases Analysis:</h3>
<p> 
The Net Transformative Tendencies of your elements yield a slight deficiency. This manifests as a lifelong sense of needing enhancement, adaptation, and effort—in all tasks, projects, and involvement. You sometimes give more energy than you receive in this life. You should strive towards equilibrium via the simultaneous embellishment and avoidance of certain elements. Your Four Pillars are fond of Fire and Earth respectively; and they dread Metal and Wood, respectively.
</p>

<h3>Nature and Disposition Analysis:</h3>
<p> 
You possess a sense of conscience, mission, and great responsibility. You are fondly just, righteous, and unceasingly devoted to improving the welfare of your society or country. You are strong-willed, persevering, staunch, and you like to distinguish right from wrong.
When at your best you have a strong sense of responsibility, value for achievement, and uncompromised perseverance in upholding principles during challenging times and great duress; at your worst you are obstinate, stubborn, inflexible, non-pragmatic, overly-appraising when regarding authoritative rights and the value of power, and you like to be in control of everything. 
</p>
<h3>Shao Kang-Jie’s Four Characters:</h3>
<p> 
The four words which poetically represent your complete life journey are Jìn Bù Cháo Tiān (進步朝天):
“Progress While Looking Skyward.” This anthological excerpt is widely interpreted for a variety of conditions yet remains true among all scenarios independent of scale. 
It serves as an analogy to depict how each step towards greater achievement must be a tangible one based on a strong foundation; to reach the peak in one step bears the risk of falling into chasm and obliteration. The path to progress is paved on small, marginal triumphs. A step-by-step approach towards destiny allows for firm grounding and the ability to advance or retreat at your own discretion. You best be aware of these circumstances and evade chaos, confusion, and panic. Remind yourself of your intention(s) so the great achievement(s) you envision and seek may be obtained. 

</p>
<h3>Feng Shui Analysis:</h3>
<p> 
The directions of South and Center are most beneficial to you, respectively. Choose a bedroom located on the South or Southwest side of your home and position the headboard of your bed to follow suit (so that your head points to the South or Southwest). Avoid a wooden bed frame and decorate your interior with stones and earthenware such as decorative rocks, vases, and pottery. Also, avoid hard wood flooring and opt for granite or stone countertop. Interior decorating should follow a purple, red, earthy, brown, or yellow color scheme. Candles are excellent for decoration and in meditation.
Certain regions of the world, countries, and hemispheres are also more beneficial to you. The best places to travel or live are Central America, the Middle-East, India, and the Mediterranean. You may perhaps benefit from visiting and habituating regions with hot climates and a colorful, robust social atmosphere with rich heritage and tradition. In nature, entropic heat and rich soil is a most harmonious pairing of environment with your energetic presence.

</p>
<h3>Propositions for the Day Master:</h3>
<p> 
Your luckiest numbers are two and seven, however zero and five are also lucky. </p>

<p> 
The mid-summer season and hot weather are particularly preferable for you. The transitionary periods between the changing seasons are also beneficial. However, do not act recklessly in the fall. It is also important to occupy an environment not too densely wooded.
</p>
<p>
The months of Fire and years of Horse and Snake are comparatively lucky; the months of Earth and years of Ox, Goat, Dragon, and Dog are also somewhat lucky. Exercise caution and deep introspection during the months of Metal and years of Monkey and Rooster.
</p>
<p>
Your most auspicious times are between the hours of eleven AM and one PM, however the hours between one and three (both AM and PM) and seven and nine (both AM and PM) are also auspicious, respectively. You generally fare better at engaging in meaningful work from nine AM to one PM and should avoid all important matters and serious activity during the late afternoon to early evening.
</p>
<p>
Your auspicious colors are Purple, Red, Brown (with darker brown as more favorable), and Yellow. Avoid White, Metallic colors, and Green (especially dark Green).
</p>

<h3>Conclusion and Suggestions</h3>

<p>
You were a particularly happy and gleeful child, with a keen ability to not only comprehend but also easily deal with diverse issues. <span class="last-sentence-of-paragraph">This is indicated by the presence of Consuming Spirit of the Ten Gods within your Year Pillar.</span>
</p>
<p>
As a child it is very likely that your family owned an estate or property and that your mother was in charge of the household. <span class="last-sentence-of-paragraph">This is indicated by the presence of Direct Resource of the Ten Gods within your Year Pillar.</span>
</p>
<p>
As a youngster, you encountered communication barriers with the older generations of the time and confronted the marital issues between your father and mother. Furthermore, during your teenage years you were fond of showing off in order to compensate for the inferiority complex you exhibited, and found yourself in several confrontations. <span class="last-sentence-of-paragraph">This is indicated by the presence of Rebellious Officer of the Ten Gods and the dynamics of the special circumstances when the Earth Branch (Snake Zodiac) transform to Yang Metal within the Day Pillar.</span>
</p>
<p>
You prefer to capitalize on intellect when earning an income rather than through sheer labor. <span class="last-sentence-of-paragraph">This is indicated by the presence of Consuming Spirit of the Ten Gods within your Month Pillar. </span>
All throughout life, your friends are a good influence on you and a reliable source of talent—albeit your closest friends are not unwaveringly loyal to you. Furthermore, due to involvement with your friends you were often involved in judicial affairs. <span class="last-sentence-of-paragraph">This is indicated by the presence of Consuming Spirit of the Ten Gods within your Month Pillar and the prevalence of Indirect Resource of the Ten Gods within your Four Pillars.</span>
</p>
<p>
You have the tendency to marry at an older age and likely experience many troubles due to the high expectations you place on your significant other(s)—especially regarding household responsibilities. You should always be vigil of your marital dynamics in order to keep them balanced. <span class="last-sentence-of-paragraph">This is indicated by the presence of Indirect Resource and Seven Threats of the Ten Gods within your Day Pillar.</span>
</p>
<p>
Medicine only has a slight effect on you in your old age, since you are particularly prone to excessive stress. <span class="last-sentence-of-paragraph">This is indicated by Peer Assistance of the Ten Gods within your Hour Pillar.</span>
</p>
<p>
You have a difficult time communicating with your children. Because of this, they were hurt during the time you raised them in your immediate household. Furthermore, your grandchildren are stubborn and easily defame you. <span class="last-sentence-of-paragraph">This is indicated by the prevalence of Rebellious Officer of the Ten Gods within your Hour Pillar.</span>
</p>
<p>
Your physical body is prone to deficiency, cold, and specific health issues involving the heart, blood, eyes, and the kidney, heart, spleen, lung, and liver channels, respectively (Traditional Chinese Medicine terms). These represent poor energy metabolism, chronic stress, and a weakened immune system, and involve the endocrine, cardiovascular, digestive, immune, circulatory, and nervous systems, respectively. Should problems occur they will likely manifest as memory problems, respiratory illness, digestive disturbances, fatigue, depression, hypotension, immunodeficiency, blood clots, stroke, heart disease, and heart attack. You are especially prone to grief, sadness, guilt, and regret, respectively. To avoid this, relish in your joyful experiences and empathic exchanges with others in an uninhibited fashion. Make a conscious effort to smile more and take life a little less seriously. Additionally, you should avoid overly fragrant scents and pungent foods and spices (i.e. cologne, mint, etc.), relying on intuition, and impatience. <span class="last-sentence-of-paragraph">This is indicated by a weak Yin Earth sign, the overwhelming prevalence of Metal within your Four Pillars, and the dynamics of having to supplement with the Fire and Earth elements.</span>
</p>
<p>
You should play basketball, tennis, and volleyball for exercise; go cycling outdoors for leisure; and take solace in social activities and events. <span class="last-sentence-of-paragraph">This is indicated by your Net Transformative Tendencies of the Five Phases, Feng Shui dynamics, and an affinity for the Fire element.</span>
</p>
<p>
Your character is bold and it is easy for others to see how committed you are to justice, fairness, principle, honor, and order. Because of this quality, there are few who regard you as unimpressionable—and therefore you garner the interest of many friends and enemies alike. Furthermore, your strife to speak in an open and straightforward way is tenacious and typically offends without your notice or intent. This attracts grudges from individuals and factions, and poses a significant threat to your wellbeing. <span class="last-sentence-of-paragraph">This is indicated by the overwhelming prevalence of Metal and the complete absence of Water within your Four Pillars.</span>
</p>
<p>
You are timid, however even your greatest threats are typically thwarted by your outspoken braveness and due diligence. <span class="last-sentence-of-paragraph">This is indicated by the significant lack of Wood and Stars of Assertion among the Ten Gods and general lack of Earth within your Four Pillars.</span>
</p>
<p>
You most likely spend a lot of time considering your actions. You are very aware of your decisions and often reflect on ones made in the past. You have a knack for dissecting issues, diluting obtrusiveness, and clarifying things. Also, you would rather take care of matters yourself than rely on others to do so. <span class="last-sentence-of-paragraph">This is indicated by the dynamics of the Net Transformative Tendencies of the Five Phases benefiting from the Stars of Nurturing and Stars of Assistance.</span>
</p>
<p>
You are inflexible, rigid, and have a very hard time moving on from things unresolved or letting go of unfinished business. However, these are not qualities you need. You do not trust easily, and once broken it is almost impossible to reconcile. Therefore, be mindful of the significant effort and time it takes to gain your trust—even for those closest to you. <span class="last-sentence-of-paragraph">This is indicated by the complete absence of Water and impartial nature of the Water element within your Four Pillars.</span>
</p>
<p>
You require support and the assistance of peers to see your goals through and attain balance in your life. You do not need restriction or hindrance by any means. <span class="last-sentence-of-paragraph">This is indicated by a sensitivity to Wood and the Net Transformative Tendencies of the Five Phases favoring Fire and Earth simultaneously.</span>
</p>

<% end %>

<%= content_for :comments do %>
<div class="fb-comments" data-href="http://www.revealingfate.com/unknown_candidate_2" data-numposts="10"></div>
<% end %>

<%= render partial: 'celeb_readings/celeb_reading', locals: {
  title: 'Second Mystery Candidate',
  name: 'sanders',
  url: '/unknown_candidate_2#vote'
} %>
