
<%= content_for :significance do %>
<h2>Significance of Your Celestial Element Sign</h2><hr />

<p>
<p>  You are born into this world from the heavens with the Yang Fire sign (Day Master)—the equivalent of the blazing Sun. You are bright, warm, nurturing, and illustrious when at your best; hot, dry, and invasive when at your worst. In all instances you are intense. </p>
</p>

<p>
<p>To foster healthy relationships, you need to value the role of distance between yourself and others in a balanced way. Observe the dynamic between our Sun and Earth: if the Sun gets too close life dries up; if too far from the Earth life freezes over, unable to grow and thrive. You should be aware that you have a tendency to project your presence and enforce your ideals unto others. Always remind yourself that all things grow at different paces and make a meaningful effort with exercising patience.</p>
</p>

<h2>Significance of the Year Pillar</h2>
<p>The Year Pillar represents the dynamics of your early life—typically from age 1 – 20 years.
It also represents the relationships with your parents, elders (such as uncles and aunts), grandparents, and in some cases legal guardians.</p>
<p>Metal is born of the Earth element; the Yang Metal Stem sits atop a Yang Earth Branch (Dog Zodiac)—within the Season of Rejuvenation – Injury.  Within this Pillar, the Yang Metal represents Indirect Wealth; the Yang Earth represents Consuming Spirit; the Yin Metal represents Direct Wealth; and the Yin Fire represents Benevolent Plunder.  With this setup, it is clear that from a young age you yearned to own your own business, dreaming about opportunities and possibilities abound. There is some chance that one of your grandparents might have left your nuclear family some property or assets in their parting. Although you have never communicated particularly well with your father the respect for him is still there and in some way you were raised with his personality as guidance or a reference (by his example). You were clever and eager to learn with diligence as a child. One parent in particular worked hard to financially support you and another (perhaps the same individual) worked hard to make a living for your family. You come from a modestly well-established upper-middle class family, however this status was impacted due to some financial incidents. Following this change, your attitude became more pragmatic and you realized the importance of working early on. </p>
<p>It is easy for you to encounter relationship hurdles. Most likely you engaged in competition among other suitors for your significant other(s) prior to marriage and encountered trust issues with them following your marriage. As a youngster you were impacted by big spending and encountered some financial issues in the household. You learned to work early on and always appreciated mature significant other(s). You are also an individual that either easily befriends or fights others—there is not much of a middle-ground with you. For one of your parents, you were their main concern from an early age. However, you were an understanding child with unusual sensibilities and had the ability to handle a diverse set of issues with ease. </p>

<h2>Significance of the Month Pillar</h2>
<p>The Month Pillar represents the dynamics of your period of life from age 21 – 40 years.
It also represents the relationships with your siblings, peers, colleagues, and friends. These are the most influential people in your life during your personal development stage.</p>
<p>Earth invades the Water element; the Yang Earth Stem sits atop the Yang Water Branch (Rat Zodiac)—within the Season of Biding – Dormancy. Within this Pillar, the Yang Earth within represents Consuming Spirit and the Yin Water represents Just Officer. With this setup, it is clear that you are the ideal friend for a few select individuals around you. You like to tinker with creative outlets, involvement, and projects. You like art, music, and good food. You very much appreciate reinvention through research and a hands-on approach with the things you are most passionate for. You are fond of literature and excel at a literary, catalogue, or translation tasks. You dislike relying on family pedigree as a means to project yourself and you appreciate the notion of creating your own destiny and independence. </p>

<h2>Significance of the Day Pillar</h2>
<p>The Day Pillar represents the dynamics of your period of life from age 41 – 60 years.
It also represents relationships with the self, significant other(s), and with close friends as they truly understand and accept the real, core ‘you.’</p>
<p>Fire is invaded by the Water element; the Yang Fire Stem sits atop the Yang Water Branch (Rat Zodiac)—within the Season of Biding – Dormancy. Within this Pillar, the Yin Water represents Just Officer. With this setup, it is clear that your significant other(s) has a high probability of working as a teacher or manager—with a very clear "straight-laced" personality. Your love life is simple because both of you enjoy your emotional connection and prefer the harmony of commitment over materialistic worth. </p>
<p>Your ideal partner(s) or spouse(s) is someone especially considerate and introverted, insofar that they complement your cautious yet decisive nature.  </p>

<h2>Significance of the Hour Pillar</h2>
<p>The Hour Pillar represents the dynamics of your late life from age 61 years – when you've completed this life.
The Hour Pillar also represents the relationships with your offspring, younger adults, and your grand-children.</p>
<p>The Hour Pillar contains the Yin Earth Stem sitting atop a Yin Earth Branch (Ox Zodiac)—within the Season of Treasure – Trap. Within this Pillar, the Yin Earth represents Rebellious Officer; the Yin Water represents Just Officer; and the Yin Metal represents Direct Wealth. With this setup, it is clear that you have great difficulty in communicating with your children. Your grandchildren are also rebellious and may easily ruin your reputation. You may also easily hurt your children, become stressed, and fall into illness. </p>
<p>As you age, your children are well and will begin to demonstrate their capabilities. Your subordinates provide great assistance to you. You will take to traveling without many hitches, and although you do encounter some minor financial setbacks but these are easily solved due to your bit of savings and ability to leverage property—allowing you peace of mind. </p>
<% end %>

<%= content_for :analysis do %>

<h2>Nature and Disposition Analysis: </h2>
<p>You possess a sense of obstinacy, stubbornness, tactfulness, willpower, capability, and foresight. You are staunch, brave, advancing, quick-witted, forward-looking, and you strive for your goals with an unhindered effort. </p>
<p>When at your best you are resolute, firm, persistent in all matters, and incomparably patient and persevering; at your worst you are lone-wolf, solemn, excessively cautious, poorly communicative, and socially inept. </p>

<h2>Shao Kang-Jie’s Four Characters: </h2>
<p>The four words which poetically represent your complete life journey are Jì Féng Yán Chē (驥逢鹽車): "The Horse Meets the Salt Cart." This anthological excerpt is widely interpreted for a variety of conditions yet remains true among all scenarios independent of scale. </p>
<p>It serves as an analogy to depict how the caliber of true potential for oneself is restricted despite the capability and potential for greater achievements; a diminishing of the true self to a humbler position. The horse referred in this poem is a thoroughbred stallion of a warhorse—both highly valuable and capable. However, it is met with the fate of carrying the salt cart (a task typically reserved for mules). </p>

<h2>Feng Shui Analysis: </h2>
<p>The directions of East and South are most beneficial to you, respectively. Choose a bedroom located on the East or Southeast side of your home and position the headboard of your bed to follow suit (so that your head points to the East or Southeast). Use a wooden bed frame and decorate your interior with wooden furniture. Also, avoid stone countertop and opt for hard wood flooring. Interior decorating should follow a green, red, or purple color scheme. Candles are excellent for decoration and in meditation.</p>
<p>Certain regions of the world, countries, and hemispheres are also more beneficial to you. The best places to travel or live are East Asia, Polynesia, Central America, and densely-vegetated tropical regions. You may perhaps benefit from visiting and habituating forested regions with hot climates with cultures dominated by strict mannerisms and complex social customs and rules. In nature, a diversity of flora and fauna and lushness is a most harmonious pairing of environment with your energetic presence.</p>

<h2>Propositions for the Day Master: </h2>
<p>Your luckiest numbers are three and eight, however two and seven are also lucky. </p>
<p>The spring season and cool breezy weather are particularly preferable for you, although the mid-summer season and hot weather are also beneficial. However, do not act recklessly during the transitionary periods between the changing seasons. It is also important to occupy an environment not too mountainous or humid, respectively. </p>
<p>The months of Wood and years of Rabbit and Tiger are comparatively lucky; the months of Fire and years of Snake and Horse are also somewhat lucky. Exercise caution and deep introspection during the months of Earth and years of Ox, Goat, Dragon, and Dog. </p>
<p>Your most auspicious times are between the hours of five and seven AM, however the hours between nine and eleven AM and eleven AM to one PM are also auspicious, respectively. You generally fare better at engaging in meaningful work from three to seven AM and should avoid all important matters and serious activity from seven to nine (both AM and PM) and from one to three (both AM and PM), respectively.</p>
<p>Your auspicious colors are Green (with darker green as more favorable), Red and Purple. Avoid Yellow, Brown, Blue, Grey, and Black. </p>

<h2>Conclusion and Suggestions</h2>
<p>Your childhood was filled with numerous pleasantries; travelling, lots of playtime, eating well, and good sleep. <span class="last-sentence-of-paragraph">This is indicated by the presence of Indirect Wealth of the Ten Gods within your Year Pillar.</span> </p>
<p>As a child you were happy and content. You were also sharp and a diligent learner. <span class="last-sentence-of-paragraph">This is indicated by the presence of Direct Resource of the Ten Gods within your Year Pillar.</span>  </p>
<p>As a youngster, you enjoyed your life to the fullest and were initially disinclined to study. You were insulated from worry and leisurely comforted for much of this time. <span class="last-sentence-of-paragraph">This is indicated by the presence of Direct Wealth of the Ten Gods within your Year Pillar.</span> </p>
<p>After you began working, you quickly gained public recognition for this work. <span class="last-sentence-of-paragraph">This is indicated by the presence of Just Officer within your Month Pillar.</span> </p>
<p>Your significant other(s) exercises grace and tactfulness, but has a tendency to gain weight. <span class="last-sentence-of-paragraph">This is indicated by the presence of Just Officer of the Ten Gods within your Day Pillar.</span> </p>
<p>The frequency in which you encounter communication difficulties with your family is significantly high. Because of this, your children distance themselves from you greatly. <span class="last-sentence-of-paragraph">This is indicated by the prevalence of Rebellious Officer of the Ten Gods within your Hour Pillar.</span> </p>
<p>You have a tendency to overly emphasize your own authority in the family. However, since you lack the presence and follow-through required to enforce such authority, your children strongly oppose you. You suffer from a lot of pressure because of this excessive disposition for family management. <span class="last-sentence-of-paragraph">This is indicated by the presence of Just Officer of the Ten Gods within your Hour Pillar and its dynamics from a lack of the Stars of Assistance of the Ten Gods within your Four Pillars.</span> </p>
<p>You are soft-spoken yet composed all of the time. However, almost anyone may "outshine" you in most circumstances; you are easily overpowered by opposition who stands on firm ground. You do not lack in ability but rather in confidence and decisiveness, thus fostering discouragement and allowing you to become easily influenced by other means. <span class="last-sentence-of-paragraph">This is indicated by the simultaneous existence of a primary need for the Wood element and its complete absence within your Net Transformative Tendencies of the Five Phases.</span> </p>
<p>You need to find an ideal(s) that you can be proud of, stick to, and say "no" in the face of temptation or persuasion. Although running for office, you are highly destined to lose to your immediate opponent(s) in a swift or brash manner. <span class="last-sentence-of-paragraph">This is indicated by an affinity for Wood and Fire for your Net Transformative Tendencies of the Five Phases, the overwhelming prevalence of Yang Fire for the year 2016 within the 60-year cycle, and the dynamics of the Monkey and Rat Zodiac within the year 2016 transforming into the Water element.</span> </p>
<p>Your physical body is prone to dampness, cold, and specific health issues involving the nerves, blood, eyes, heart, and the liver, heart, and spleen channels, respectively (Traditional Chinese Medicine terms). These represent water and electrolyte metabolism, detox, psychological function, and involve the nervous, circulatory, cardiovascular, and digestive systems, respectively. Should problems occur they will likely manifest as nerve damage, psychological distress, depression, fatigue, swelling, water retention, hormonal imbalances, digestive disturbances, and hypotension. You are especially prone to anger, irritability, and jealousy, insecurity, and regret, respectively. To avoid this, relish in your all opportunities for growth and building—especially wherein new and lasting experiences, friends, and resources are involved. Make a conscious effort to foster respect from others before you attempt to assist or guide them how you see fit, laughing more and enjoying the company you have along the way. Additionally, you should avoid overly sweet scents or flavors and particularly dense, rich, or cloying foods. <span class="last-sentence-of-paragraph">This is indicated by a very weak Yin Fire sign, the overwhelming prevalence of Earth and Water within your Four Pillars, and the dynamics of having to supplement with the Wood and Fire elements.</span></p>
<p>You should play golf and go hiking in the woods for exercise; take walks in parks outdoors for leisure; and take solace in reading and study. <span class="last-sentence-of-paragraph">This is indicated by your Net Transformative Tendencies of the Five Phases, Feng Shui dynamics, and an affinity for the Wood element.</span></p>

<% end %>

<%= content_for :comments do %>
<div class="fb-comments" data-href="http://www.revealingfate.com/unknown_candidate_3" data-numposts="10"></div>
<% end %>

<%= render partial: 'celeb_readings/celeb_reading', locals: {
  title: 'Third Mystery Candidate',
  name: 'cruz',
  url: '/unknown_candidate_3#vote'
} %>

