<a href="/purchase_reading_service/<%= url %>" class="btn btn-primary basic-button" role="button"><span class="strikethrough"><%= old_price %></span> <span class="basic-new-price"><%= new_price %></span></a>
