
<div class="container">

  <div class="blog-header">
    <center><h2 class="blog-title">Weekly Musings of an Astrologer</h2></center>
  </div>

  <hr />

  <div class="row">

    <div class="col-sm-10 blog-main">

      <div class="blog-post">
        <center>
          <h3 class="blog-post-title">What Does a Four Pillars<br />Reading Mean to You?</h3>
        </center>
        <center><%= image_tag "monk.jpg" %></center>
        <br />
        <p class="blog-post-meta">December 30, 2015 by <a href="/team#tat">Tat</a></p>

        <p>
        Hello everyone, my name is Tat and with all honesty I wouldn’t necessarily call myself a master or anything. I’m just a humble practitioner and perhaps a seeker. I’ll be the one that handles the reading cases around here. This will be the first article featured on the site and perhaps the most relevant piece that will hopefully guide anyone that traverses through our humble website.
        </p>

        <p>
        “What does a Four Pillars reading mean to you?” is a question I often ask myself. I will share my personal thoughts on this matter and hopefully it will give you some insight or perspective by the end of this article.
        The Four Pillars of Destiny are passed down from ages ago, going far back into the B.C. periods (we have a separate page dedicated to the history and tradition of Four Pillars so I won’t go too deep into it here). Four Pillars reading acts as a representation of our life compositions, ranging from our personality, our relationships with other individuals, prospective significant others, current significant others, and our relationship with the surrounding environment.
        </p>

        <p>
        My ability to read and decipher the Four Pillars of Destiny came about from practice fueled by trying to find answers to why I had such an innate stroke of bad luck. I was at a time in my life where I seriously pondered how to rid myself of bad happenstance. Of all the things that have occurred in my life why is there so much hassle? Why so many seemingly wasted efforts? Was I not persistent enough or I was too eager? These are the questions I frequently ask myself. To find the answer isn’t just a simple matter.
        </p>

        <p>
        Luckily, my early mentor is also my cousin. He studied Four Pillars and Feng Shui in Hong Kong with a master’s degree and taught me the basics of the art, tossing some reference readings my way. He first helped me with a basic reading, letting me know the significance of my year, month, day, and time pillars. Then he provided me with a reference book so I could grasp the knowledge myself and understand myself a little better. That started it off.
        </p>

        <p> 
        A personal understanding of my own Four Pillars came only after I had experienced ‘five stages of grief’ (otherwise known as the Kübler-Ross model): first, I denied the accuracy of the reading, thinking “oh I couldn’t have it that way.” Then as time passed I become angry, asking “why is this happening to me!” and “what did I do to deserve this!?” After this I bargained with my grief, thinking “come on there must be something I can do, there must be way out somehow.” Then I went through a long phase of deep depression, very dark thoughts came easy and lingered around. Lastly, I came to accept that what is presented to me are my own trials in life, there are no easy ways or ‘shortcuts’ for me, and that there is only struggle which must be faced and endured in order to prevent my own growth as a person from stagnating—which would truly spell doom for my journey.
        </p>

        <p>
        Some of you may be thinking “just how serious is a person’s destiny?” Well, Four Pillars shows me that the order of my life will make it highly unlikely for me to hold a stable job until my forties. My youth? Pure hardship. Could it be worse or get worse than before? The currents of Four Pillars say “absolutely.” This is why I’ve absolved to strengthen my heart in order to endure this hardship—whether I like it or not. 
        </p>

        <p>
        Not everyone’s life is going to be great, and not everyone will suffer long-term bad luck or hardship, but many do and are ill-equipped to deal with it or do not fully understand its role in their life. In this case we need to face our challenges head on. We must not run from our destiny, or else you’ll be spending the rest of your life distancing yourself from what you are meant to experience, learn, and progress.
        </p>

        <p>
        To me the Four Pillars of Destiny acts as an introspective tool. I used it to understand deeply my own short-comings and personal challenges. I used Four Pillars to confront my fear and analyze myself objectively. To grow as a person we will experience failure. However, it is not the failure itself that we must be fearful of but rather how we react to the failure—this is truly what makes us who we are.
        </p>

        <p>
        I would advise anyone to take any profound advice on life with a grain of salt; healthy skepticism is welcomed and even encouraged. Do not let readings of your Four Pillars dictate your actions. Your actions themselves, no matter great or small, should always go through a deep inspection—be it belief in an astrological reading or deciding which pair of shoes to wear on outings.
        </p>

        <p>
        For me my own involvement in providing these readings comes not without risk. Such services basically peek into the inner workings of truest fate and destiny. If any improper advice or recommendations are administered by myself there will surely be karmic implications of proportion. However, no matter big or small the request, I’m here to provide to the best of my abilities and all of my attention in order to make sure there are no missteps on my part and I hope you may place your trust in me as well.
        </p>

        <p>Lastly, always remember: the choice is never out of your own hands.</p>
        <p>Thank you all for reading and I wish everyone here a wonderful day or night.</p>
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->

    <div class="col-sm-1 col-sm-offset-1 blog-sidebar">
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->
