<center>
<h2>Contact Us</h2>
</center>

<hr />

<p>
  <a href="https://www.facebook.com/revealingfate">Check us out on Facebook</a><br />
  <a href="https://twitter.com/revealingfate">Check us out on Twitter</a>
</p>

<p>
<strong>Email:</strong> <span class='small'>revealingfate@gmail.com -- please include "Four Pillars" in your subject line</span>
</p>

<p>
<strong>Skype:</strong> <span class='small'>revealingfate -- please include "Jia Gu Wen" in your invite message</span>
</p>
