<center>
<h1>Revealing Fate</h1>
<h2>The Four Pillars of Destiny — Chinese Astrology Reading Services</h2>
</center>
<hr />


<div class="row">
  <div class="col-md-9">
    <p>
    The Four Pillars of Destiny—referred to as simply “Four Pillars”—is one of several traditional forms of astrology still practiced in China today. It’s estimated to be at least 5,000 years old (some experts date it as originating 7,000 or even 10,000 years ago). Four Pillars aims to help us better understand ourselves as physical, emotional, and spiritual beings as well as to explain for the "why" and "how" of our interaction among people and the environment in relation to how our destiny unfolds.
    </p>

    <p>
    Four Pillars is a fruit born of the same tree as the likes of Feng Shui (風水) and Zhi Wei Dou Shu (紫微斗數), incorporating the elements of many other ancient Chinese institutional forms—including Taoism (道教). It is said that the practice of Four Pillars astrology began long ago in the Xia (夏) dynasty around 2200 to 1700 B.C.E. The first concrete recordings of it appear in the Song (宋) dynasty from 960 A.D. onward, when the first comprehensive astrological system had materialized and the first theories of the Four Pillars was written down by Xu Zi-Ping (徐子平), called the "Yuan Hai Zi Ping (渊海子平)"—now commonly referred to as "the eight characters" (八字) or Four Pillars of Destiny.
    </p>

    <p>
    Four Pillars categorizes the elements of the universe into phases called the Wu Xing (五行): Fire, Earth, Metal, Water and Wood. These five elements interact with one-another in a dynamic way—with creation and destruction; invasion and rebellion; and with bold vigor and subtle gentleness.
    </p>

    <p>
    For example fire burns into ashes which collect to form earth, earth compacts into dense solids which in turn compress into metal, metal disperses under its own weight and melts into water, water flows from being liquid and so nourishes wood, wood grows so it spreads out to feed fire, and so the creation-destruction cycle continues both literally and figuratively.
    </p>

    <p>
    Furthermore fire melts metal yet is extinguished by water, earth traps water yet is vulnerable to wood, metal chops wood yet is melted by fire, water extinguishes fire yet is entrapped by earth, and wood invades earth yet is cut down by metal. This is an example of the overcoming cycle.
    </p>

    <p>
    The characteristics of these elements are applied to absolutely every facet of this reality; they are evident in every interaction and account of the natural world, our own personality, our relationships with family and friends, our health, our abilities, our visions, our dreams, and our path.
    </p>

    <p>
    Yin and Yang is another concept unique to ancient Chinese convention. Absolutely everything in the universe is either one, the other, or a combination of both simultaneously. Yin is represented by femininity, coldness, calmness, moisture, and darkness—to name a few—while Yang is represented by masculinity, warmth, excitement, dryness, and brightness.
    </p>

    <p>
    Four Pillars astrology uses the elements, the Yin and Yang, and its impressive analects of time division on a fundamentally integral level. Because of this it provides a remarkably detailed, accurate, and meaningful deliverance on your life.
    </p>

    <p>
    We look forward to crossing paths with you soon.
    </p>

    <br />

  </div>
  <div class="col-md-3 sidebar">
    <%= image_tag 'img1.jpg' %><br /><br />
    <%= image_tag 'im2.jpg' %><br /><br />
    <%= image_tag 'im3.jpg' %><br /><br />
    <%= image_tag 'im4.jpg' %>
  </div>
</div>

<hr />

<center>
<h2>Contact Us</h2>
</center>

<p>
  <a href="https://www.facebook.com/revealingfate">Check us out on Facebook</a><br />
  <a href="https://twitter.com/revealingfate">Check us out on Twitter</a>
</p>





<p>
<strong>Email:</strong> <span class='small'>revealingfate@gmail.com -- please include "Four Pillars" in your subject line</span>
</p>

<p>
<strong>Skype:</strong> <span class='small'>revealingfate -- please include "Jia Gu Wen" in your invite message</span>
</p>
