<div id="home-page">

<center>
    <h1>Revealing Fate</h1>
    <h2>The Four Pillars of Destiny — Chinese Astrology Reading Services</h2>
</center>

<hr />

<div class="row" id="homepage-first-paragraph">
    <div class="col-md-4 text-center">
        <%= image_tag 'carvings.jpg' %>
        <br />
        <p class='image-description'><i>Jia Gu Wen</i> oracle carvings</p>
    </div>
    <div class="col-md-8 text-center">
        <p id="revealing-fate-homepage-description" class="longer-line-height">
            Welcome to <i>Revealing Fate</i>:
            where ancient Chinese revelation meets
            modern discovery. We are an astrology
            group that provides powerful insight into
            all aspects of your existence, fate, and
            interaction within the universe.
        </p>
    </div>
</div>

<br />

<div class="row" id="homepage-second-paragraph">
    <div class="col-md-8">
        <p class="longer-line-height" id="homepage-dragon-paragraph">
            The accuracy of a reading in Chinese astrology is
            second to <i>none</i>.
            Western astrology greatly falls short with
            overgeneralization and under-evaluation.
            Chinese astrology instead provides a much more
            expansive narrative and has the ability to
            exquisitely detail all explanations for how you
            should live your life and the significance of it.
        </p>
    </div>
    <div class="col-md-4 text-right">
        <%= image_tag 'dragon.jpg' %>
        <br />
        <p id="homepage-dragon-caption" class='image-description'>The auspicious Dragon</p>
    </div>
</div>

<br /><br />

<p id="homepage-paragraph-its-no-wonder">
    It’s no wonder that humankind has guarded and preserved such a sacred and precious cultural 
    relic for more than 5,000 years—and continues to do so. This is a sign from the heavens to 
    connect with your greater purpose.
</p>

<br />
<center><a href="/reading_services" class="btn btn-primary" role="button">Order your reading today</a></center>
<br />

<center>
    <%= image_tag 'compass.jpg' %>
    <br />
    <p class='image-description'>Traditional <i>Feng Shui</i> compass</p>
</center>

</div>
