<h1>Revealing Fate: the Four Pillars of Destiny<h2>
<h2>Chinese Astrology Reading Service<h2>

<p>Kyle Snyder is a student of Traditional Chinese Medicine (TCM) with an affinity for both ancient and modern Chinese cultures. It is his acquired knowledge and understanding of the TCM compendium that allows for such an extensive exploration of Four Pillars—the division of space and time, the phases, heaven and earth, and yin and yang. 
</p>
<p>&#60;Kyle&#62; has read countless individuals and provides exceptional investigation into all realms for his clients. With his involvement in TCM he invites unique dialogues into the Four Pillars regimen—including personal tendencies, lifestyle choices, health and wellness, and the mind-body-spirit connection. 
<p>
<p>&#60;Kyle&#62; was born in the United States and has lived in both Japan and Taiwan. He holds a BA in International Relations, reads and understands Mandarin Chinese, and has earned two English teaching certifications from Oxford Seminars. 
<p>
<p>&#60;Kyle&#62; has himself suffered from chronic illness on all fronts and experiences great pleasure in sharing his experiences and providing insight for all who seek it. With Four Pillars he can chronicle your dispositions and guide your decisions toward a more wholesome embodiment of destiny.
</p>

<hr />

<p>
<strong>Email:</strong> sinade.kai@gmail.com -- I request that you include "Four Pillars Reading" in your subject line
</p>

<p>
<strong>Facebook:</strong> (I will create a page)
</p>

<p>
<strong>Skype:</strong> fujiyokocookiecutter -- I request that you use the code "Jia Gu Wen" in your message when inviting me so that I can determine legitimate clients
</p>
