<div id="home-page">
    
    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<div align="right"><div class="fb-follow" data-href="https://www.facebook.com/revealingfate" data-layout="button" data-show-faces="true"></div><a href="https://twitter.com/RevealingFate" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @RevealingFate</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>

<center>
    <h1>Revealing Fate</h1>
    <h2>The Four Pillars of Destiny — Chinese Astrology Reading Services</h2>
</center>

<br />

<p class="longer-line-height">
    Welcome to <i>Revealing Fate:</i>
    where ancient Chinese revelation meets
    modern discovery. We are an astrology
    group that provides powerful insight into
    all aspects of your existence, fate, and
    interaction within the universe.
</p>


<p class="longer-line-height">
    The accuracy of a reading in Chinese astrology is
    second to <i>none</i>.
    Western astrology greatly falls short with
    overgeneralization and under-evaluation.
    Chinese astrology instead provides a much more
    expansive narrative and has the ability to
    exquisitely detail all explanations for how you
    should live your life and the significance of it.
</p>

<p>
    It’s no wonder that humankind has guarded and preserved such a sacred and precious cultural
    relic for more than 5,000 years—and continues to do so. <b>This is a sign from the heavens to
    connect with your greater purpose.</b>
</p>


<br />
<center><a href="/reading_services" class="btn btn-primary btn-lg" role="button">Order Your Reading Today!</a></center>
<br />

</div>
