<center>
    <h1>Revealing Fate</h1>
    <h2>The Four Pillars of Destiny — Chinese Astrology Reading Services</h2>
</center>

<hr />

<div class="row">
    <div class="col-md-3 text-center">
        <%= image_tag 'carvings.jpg' %>
        <br />
        <i>Jia Gu Wen</i> oracle carvings
    </div>
    <div class="col-md-9 text-center">
        <h2 class="longer-line-height">
            Welcome to Revealing Fate:
            where ancient Chinese revelation meets
            modern discovery. We are an astrology
            group that provides powerful insight into
            all aspects of your existence, fate, and
            interaction within the universe.
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-6">
        <h2 class="longer-line-height">
            The accuracy of a reading in Chinese astrology is
            second to none.
            Western astrology greatly falls short with
            overgeneralization and under-evaluation.
            Chinese astrology instead provides a much more
            expansive narrative and has the ability to
            exquisitely detail all explanations for how you
            should live your life and the significance of it.
        </h2>
    </div>
    <div class="col-md-4">
        <br /><br />
        <%= image_tag 'dragon.jpg' %>
    </div>
</div>

<br />

<p>
    It’s no wonder that humankind has guarded and preserved such a sacred and precious cultural 
    relic for more than 5,000 years—and continues to do so. This is a sign from the heavens to 
    connect with your greater purpose.
</p>

<br />
<center><a href="/reading_services" class="btn btn-primary" role="button">Order your reading today</a></center>
<br />

<center>
    <%= image_tag 'compass.jpg' %>
    <br />
    Traditional <i>Feng Shui</i> compass
</center>
