<div id="home-page">

<center>
    <h1>Revealing Fate</h1>
    <h2>The Four Pillars of Destiny — Chinese Astrology Reading Services</h2>
</center>

<hr />

<div class="alert alert-success alert-reading-services gold jumbotron" role="alert">
<div class="container">
<% if browser.mobile? || browser.tablet? %>

<h1 class="jumbotron-h1-mobile">Chinese New Year Sale! Take 50% off any reading until February 15th</h1>
<% else %>
<h1 class="jumbotron-h1">Chinese New Year Sale! Take 50% off any <%= link_to 'reading', '/reading_services' %> until February 15th</h1>
<% end %>

</div>
</div>


<br />

<p class="longer-line-height">
    Welcome to <i>Revealing Fate:</i>
    where ancient Chinese revelation meets
    modern discovery. We are an astrology
    group that provides powerful insight into
    all aspects of your existence, fate, and
    interaction within the universe.
</p>


<p class="longer-line-height">
    The accuracy of a reading in Chinese astrology is
    second to <i>none</i>.
    Western astrology greatly falls short with
    overgeneralization and under-evaluation.
    Chinese astrology instead provides a much more
    expansive narrative and has the ability to
    exquisitely detail all explanations for how you
    should live your life and the significance of it.
</p>

<p>
    It’s no wonder that humankind has guarded and preserved such a sacred and precious cultural
    relic for more than 5,000 years—and continues to do so. <b>This is a sign from the heavens to
    connect with your greater purpose.</b>
</p>


<br />
<center><a href="/reading_services" class="btn btn-primary btn-lg" role="button">Order Your Reading Today!</a></center>
<br />

</div>
