<h3>Looking to learn Ruby on Rails?</h3>

<p>
We’re a small startup with an opening for internship. Once accepted you’re exposed to a variety of technologies. You don't need a lot of experience—just a willingness to learn and adapt. We’ll train you!
</p>

<p>
Our work consistently incorporates: RoR, Javascript, CSS, HTML
</p>

<p>
  Our service provides ancient Chinese astrological readings in the form of The Four Pillars of Destiny. We have two practitioners well-versed and experienced in doing this work both in Asia and in the United States. Four Pillars is unique in that it can provide a much more accurate detail of a person’s life and has a much greater—and far more legitimate–tradition than Western astrology. This is because it accounts for the year, month, day, hour, and minute of birth to describe the dynamics in a person’s life and provide perfectly tailored guidance in living it. The applications are endless: work, education, friendship, family, romance, health, travel, spirituality, etc. 
</p>

<p>
  Our founder created Revealing Fate from the impact it had on the understanding of his own life and taking charge of it. Since then we’ve helped many individuals looking for answers and provide detailed and personalized instruction on how to live their fullest potential. 
</p>

<p>
  We look forward to you joining our unique project and encourage you to explore this rare opportunity. See you soon!
</p>

<p>
Email: revealingfate@gmail.com
</p>

