<center>
<div id="reading_services">
  <h2>Reading Services</h2>

  <div class="row">
    <div class="col-md-3">
      <div class="service">
        <h3>Basic</h3><hr>

        <ul>
          <li>Four Pillars Chart</li>
          <li>Heavenly Stems</li>
          <li>Earthly Branches</li>
          <li>Yin and Yang</li>
          <li>Parental Relationships</li>
          <li>Peer Relationships</li>
          <li>Romantic Relationships</li>
          <li>Offspring Relationships</li>
          <li>Five-phase Analysis</li>
        </ul>

        <span class="price">$19.99</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="service">
        <h3>Standard</h3><hr>

        <ul>
          <li>Four Pillars Chart</li>
          <li>Heavenly Stems</li>
          <li>Earthly Branches</li>
          <li>Yin and Yang</li>
          <li>Parental Relationships</li>
          <li>Peer Relationships</li>
          <li>Romantic Relationships</li>
          <li>Offspring Relationships</li>
          <li>Five-phase Analysis</li>
          <li>Career Guidance</li>
          <li>Wei Qian-Li's Fortune
          <li>Propositions for Sprit</li>
          <li>Propositions for the Day Master</li>
          <li>Shao Kang-Jie's Four Characters
          <li>Nature and Disposition Analysis</li>
          <li>Spousal Guidance</li>
          <li>60-year Cycle Demographics</li>
        </ul>

        <span class="price">$49.99</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="service">
        <h3>Full</h3><hr>

        <ul>
          <li>Four Pillars Chart</li>
          <li>Heavenly Stems</li>
          <li>Earthly Branches</li>
          <li>Yin and Yang</li>
          <li>Parental Relationships</li>
          <li>Peer Relationships</li>
          <li>Romantic Relationships</li>
          <li>Offspring Relationships</li>
          <li>Five-phase Analysis</li>
          <li>Career Guidance</li>
          <li>Wei Qian-Li's Fortune</li>
          <li>Propositions for Sprit</li>
          <li>Propositions for the Day Master</li>
          <li>Shao Kang-Jie's Four Characters</li>
          <li>Nature and Disposition Analysis</li>
          <li>Spousal Guidance</li>
          <li>60-year Cycle Demographics</li>
          <li>Auspicious Events Digression</li>
          <li>Destiny Digression</li>
          <li>Axil Digression </li>
          <li>Skype Consultation</li>
          <li>Answers to Personalized Questions</li>
          <li>Reading Transcripts</li>
          <li>Classical Chinese Translation</li>
        </ul>

        <span class="price">$99.99</span>
      </div>
    </div>
  </div>
</div>
</center>
