<div id="reading_services">
  <center>
    <h2>Reading Services</h2>
  </center>

  <hr />

  <div class="row">
    <div class="col-md-4">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3>Basic</h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/basic" class="btn btn-primary" role="button">$19.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <ul>
            <li>Four Pillars Chart</li>
            <li>Heavenly Stems</li>
            <li>Earthly Branches</li>
            <li>Yin and Yang</li>
            <li>Parental Relationships</li>
            <li>Peer Relationships</li>
            <li>Romantic Relationships</li>
            <li>Offspring Relationships</li>
            <li>Five-phase Analysis</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3>Standard</h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/standard" class="btn btn-primary" role="button">$49.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <ul>
            <li>Four Pillars Chart</li>
            <li>Heavenly Stems</li>
            <li>Earthly Branches</li>
            <li>Yin and Yang</li>
            <li>Parental Relationships</li>
            <li>Peer Relationships</li>
            <li>Romantic Relationships</li>
            <li>Offspring Relationships</li>
            <li>Five-phase Analysis</li>
            <li>Career Guidance</li>
            <li>Wei Qian-Li's Fortune
            <li>Propositions for Sprit</li>
            <li>Propositions for the Day Master</li>
            <li>Shao Kang-Jie's Four Characters
            <li>Nature and Disposition Analysis</li>
            <li>Spousal Guidance</li>
            <li>60-year Cycle Demographics</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3>Full</h3></div>
            <div class="col-md-6 text-right">
              <a href="/purchase_reading_service/full" class="btn btn-primary" role="button">$99.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <ul>
            <li>Four Pillars Chart</li>
            <li>Heavenly Stems</li>
            <li>Earthly Branches</li>
            <li>Yin and Yang</li>
            <li>Parental Relationships</li>
            <li>Peer Relationships</li>
            <li>Romantic Relationships</li>
            <li>Offspring Relationships</li>
            <li>Five-phase Analysis</li>
            <li>Career Guidance</li>
            <li>Wei Qian-Li's Fortune</li>
            <li>Propositions for Sprit</li>
            <li>Propositions for the Day Master</li>
            <li>Shao Kang-Jie's Four Characters</li>
            <li>Nature and Disposition Analysis</li>
            <li>Spousal Guidance</li>
            <li>60-year Cycle Demographics</li>
            <li>Auspicious Events Digression</li>
            <li>Destiny Digression</li>
            <li>Axil Digression </li>
            <li>Skype Consultation</li>
            <li>Answers to Personalized Questions</li>
            <li>Reading Transcripts</li>
            <li>Classical Chinese Translation</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
