<div id="team_page">

<center>
<h2>Our Team</h2>

<hr />

</center>

<div class="row" id="kyle">
  <div class="col-md-3">
    <%= image_tag 'me.jpg', class:"mugshot" %><br />
    <p class='image-description'>Yin Fire sign born to year of the Earth Dragon</p>
  </div>
  <div class="col-md-9 team-member-bio">
    <center><h3>Kyle Snyder</h3></center>
    <p>
    Kyle is a student of Traditional Chinese Medicine (TCM) with an affinity for both ancient and modern Chinese cultures. It is his acquired knowledge and understanding of the TCM compendium that allows for such an extensive exploration of Four Pillars—the division of space and time, the phases, heaven and earth, and yin and yang. 
    </p>

    <p>
    Kyle has read countless individuals and provides exceptional investigation into all realms for his clients. With his involvement in TCM he invites unique dialogues into the Four Pillars regimen—including personal tendencies, lifestyle choices, health and wellness, and the mind-body-spirit connection. 
    </p>

    <p>
    Kyle was born in the United States and has lived in both Japan and Taiwan. He holds a BA in International Relations, reads and understands Mandarin Chinese, and actively practices as an herbal healing consultant. 
    </p>

    <p>
    Kyle has himself suffered from chronic illness on all fronts and experiences great pleasure in sharing his experiences and providing insight for all who seek it. With Four Pillars he can chronicle your dispositions and guide your decisions toward a more wholesome embodiment of destiny.
    </p>
  </div>
</div>

</div>
