<div id="team_page">

<center>
<h2>Our Team</h2>

<hr />

</center>

<div class="row" id="tat">
  <div class="col-md-3">
    <%= image_tag 'tat-mug.jpg', class:"mugshot" %><br />
    <p class='image-description'>Yang Metal sign born to year of the Earth Dragon</p>
  </div>
  <div class="col-md-9 team-member-bio">
    <center><h3>Tat-Wei Yeap</h3></center>
    <p>
    Tat-Wei is a practitioner of both Four Pillars and Feng Shui. His interest in both subjects stems from an involvement with engineering and infrastructure—a trade which delves into the relationships among individuals, societies, the environment, growth, and capacity.
    </p>

    <p>
    Tat-Wei has studied Four Pillars extensively and continually expands upon his knowledge and experience in reading individuals. He continues to offer guidance through Four Pillars as a way to navigate the most painful and confusing chapters of life.
    </p>

    <p>
    Tat-Wei is Malaysian-born Chinese and has lived in both Australia and the United States. He holds a BS in Urban and Regional Studies, an MS in Environmental Planning, speaks four languages fluently—including Mandarin Chinese and English, and is fond of philosophy.
    </p>

    <p>
    Tat-Wei is an advocate for utilizing the themes outlined in Four Pillars to their fullest potential as a remedy for the pressing and complex issues that many people face in modern society. He ascribes to this treasured and ancient Chinese discipline because of its versatility in identifying the challenges we face (inherent or otherwise) and revealing how to overcome them.
    </p>
  </div>
</div>

<hr />

<div class="row" id="kyle">
  <div class="col-md-3">
    <%= image_tag 'me.jpg', class:"mugshot" %><br />
    <p class='image-description'>Yin Fire sign born to year of the Earth Dragon</p>
  </div>
  <div class="col-md-9 team-member-bio">
    <center><h3>Kyle Snyder</h3></center>
    <p>
    Kyle is a student of Traditional Chinese Medicine (TCM) with an affinity for both ancient and modern Chinese cultures. It is his acquired knowledge and understanding of the TCM compendium that allows for such an extensive exploration of Four Pillars—the division of space and time, the phases, heaven and earth, and yin and yang. 
    </p>

    <p>
    Kyle has read countless individuals and provides exceptional investigation into all realms for his clients. With his involvement in TCM he invites unique dialogues into the Four Pillars regimen—including personal tendencies, lifestyle choices, health and wellness, and the mind-body-spirit connection. 
    </p>

    <p>
    Kyle was born in the United States and has lived in both Japan and Taiwan. He holds a BA in International Relations, reads and understands Mandarin Chinese, and actively practices as an herbal healing consultant. 
    </p>

    <p>
    Kyle has himself suffered from chronic illness on all fronts and experiences great pleasure in sharing his experiences and providing insight for all who seek it. With Four Pillars he can chronicle your dispositions and guide your decisions toward a more wholesome embodiment of destiny.
    </p>
  </div>
</div>

</div>
