<div id="reading_services">
  <center>
    <h2>True Love's Destiny Reading</h2>
  </center>

  <hr />
  <center>
    <p>For a limited time on Valentine's Day we offer a package exclusively tailored to couples. We combine two astrology profiles  to provide:</p>
    <%= image_tag 'v-day.jpg' %>
    <h4>The exact time of your birth (hour and minute) is required for an accurate reading</h4>
  </center>

  <br />

  <div class="row">
    <div class="col-md-10">
      <div class="service">
        <div class="service-heading">
          <div class="row">
            <div class="col-md-6"><h3><%= ReadingServicesHelper::TIERS[4] %></h3></div>
            <div class="col-md-6 text-right">
              <a href="/info_for_romantic_readings/new" class="btn btn-primary" role="button">$29.99</a>
            </div>
          </div>
        </div>

        <div class="service-body">
          <ul>
            <li>Find out if your lover is the one for you and vice-versa</li>
            <li>Answers to “does my relationship work?” and “why?” or “why not?”</li>
            <li>Physical, emotional, and spiritual compatibilities</li>
            <li>Guidance on how you can custom-tailor your relationship for greater connection and purpose</li>
            <li>Suggestions on how to spice up old flames</li>
            <li>Timeline for your relationship and how to plan events</li>
            <li>Prospect on current or future family</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $("[rel=tooltip]").tooltip({ placement: 'right'});
});

$("#tier-2-a").click(function() {
  $("#plus-2, #minus-2, #tier-2-box").toggleClass("hidden");
});
</script>

