/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  font-family: 'Cinzel';
  font-size: 60px;
  color: black !important;
}

h2 {
  font-family: 'Philosopher';
  font-size: 30px;
  color: black !important;
}

#home-page h2 {
  font-size: 27px;
}

h3 {
  font-family: 'Lateef';
  font-size: 50px !important;
  color: #0c090a !important;
}

p, li {
  font-family: 'Georgia', serif;
  font-size: 27px !important;
  color: #0c090a !important;
}

.blog-post p {
  font-size: 23px !important;
}

p.image-description {
  font-size: 16px !important;
  line-height: 100%;
}

.sidebar { border-left: 1px solid grey; }

#bio-text {
  padding-top: 15px;
}

#reading_services h3 {
  font-family: 'Patrick Hand', cursive;
  font-size: 20px !important;
}

#reading_services li {
  font-family: 'Georgia', serif;
  font-size: 16px !important;
  color: #0c090a !important;
}

.service-heading .btn {
  font-size: 10px;
  padding: 4px 11px;
}

.order-link {
  color: red;
  font-style: italic;
  font-size: 20px;
  text-decoration: underline;
}

.price {
  color: #0066FF;
  font-size: 18px;
}

hr {
  height: 2px;
  background-color:#555;
  margin-top: 1px;
  margin-bottom: 20px;
  width: 100%;
}

.blog-post-title {
  
}

.smaller { font-size: 25px; }

.active {
  text-decoration: underline;
  font-weight: bolder;
}

.navbar-nav li a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

#homepage-first-paragraph h2 {
  font-size: 30px;
}

#homepage-second-paragraph h2 {
  font-size: 27px;
}

.blog-post {
  padding-right: 35px;
}

#about_page p {
  font-size: 24px !important;
}

#about_page p.image-description {
  font-size: 20px !important;
}

#team_page p.image-description {
  font-size: 20px !important;
}

#team_page p {
  font-size: 24px !important;
}

#revealing-fate-homepage-description {
  margin-top: 75px;
}

#homepage-dragon-caption {
  margin-right: 21px;
}

#homepage-paragraph-its-no-wonder {
  font-size: 24px !important;
}

.team-member-bio {
  border-left: 1px solid black;
  margin-bottom: 10px;
}

.team-member-bio h3 {
  margin-top: -0px;
}

.mugshot {
  width: 97%;
  margin-bottom: 8px;
}

.everything-plus {
  color: #446d73;
  padding-bottom: 15px;
}

.service-body ul {
  padding-left: 18px;
}

.strikethrough {
  text-decoration: line-through;
}

.tier-box {
  border-bottom: 1px solid black;
}

.hidden {
  display: none;
}

.tier-a {
  cursor: pointer;
}

.tier-text {
  color: #446d73;
}

.form-wrapper {
  position: relative;
  text-align: center;
  width: 100%;
}

.field-wrapper {
  line-height: 180%;
}

.field, .prefix-field, .gender-field {
  position: relative;
  display: inline;
  vertical-align: middle;
  width: 290px;
  height: 40px;
  font-size: 190%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid #d2d2d2 1px;
  margin: 5px auto;
  padding: 5px;
  background: white;
  line-height: 100% !important;
}
.prefix-field {
  width: 105px;
  font-size: 150%;
  cursor: pointer;
}
.gender-field {
  width: 195px;
}

.form-label {
  font-family: 'Philosopher';
  font-size: 26px;
  margin-right: 10px;
  font-weight: 200;
}

#info_for_reading_birth_date_1i, #info_for_reading_birth_date_2i, #info_for_reading_birth_date_3i, #info_for_reading_birth_date_4i, #info_for_reading_birth_date_5i {
  background: white;
  padding: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 130%;
}

.promo-field {
  position: relative;
  width: 250px;
  height: 30px;
  font-size: 110%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid #d2d2d2 1px;
  margin: 5px auto;
  padding: 2px 5px;
  background: white;
  line-height: 100% !important;
}

.form-hr {
  position: relative;
  width: 60%;
  height: 1px;
  background: #d8d8d8;
  margin: 30px auto;
}

.basic-button {
  border: 3px solid #dbdd33;
  background-color: #C11B17;
  color: #dbdd33;
}

.basic-button:hover {
  border: 3px solid #dbdd33;
  background-color: #C11B17;
  color: #dbdd33;
}

.alert-reading-services {
  background-color: #dbdd33;
  color: #C11B17;
}

.basic-new-price {
  font-size: 13px;
}
