/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container-mobile {
  padding: 0 !important;
}

h1.jumbotron-h1 {
  font-size: 2.3em;
}

h1.jumbotron-h1-mobile {
  font-size: 1.5em;
}

.p-mobile-homepage {
  font-size: .3em;
}

h1 {
  font-family: 'Cinzel';
  font-size: 2.5em;
  color: black !important;
}

h2 {
  font-family: 'Philosopher';
  font-size: 30px;
  color: black !important;
}

#home-page h2 {
  font-size: 27px;
}

h3 {
  font-family: 'Lateef';
  font-size: 50px !important;
  color: #0c090a !important;
}

p, li {
  font-family: 'Georgia', serif;
  font-size: 27px !important;
  color: #0c090a !important;
}

p.image-description {
  font-size: 16px !important;
  line-height: 100%;
  margin-top: 10px;
}

.sidebar { border-left: 1px solid grey; }

#bio-text {
  padding-top: 15px;
}

hr {
  height: 2px;
  background-color:#555;
  margin-top: 1px;
  margin-bottom: 20px;
  width: 100%;
}

.smaller { font-size: 25px; }

.active {
  text-decoration: underline;
  font-weight: bolder;
}

.navbar-nav li a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

#homepage-first-paragraph h2 {
  font-size: 30px;
}

#homepage-second-paragraph h2 {
  font-size: 27px;
}

.blog-post {
  padding-right: 35px;
}

#about_page p {
  font-size: 24px !important;
}

#about_page p.image-description {
  font-size: 20px !important;
}

#team_page p.image-description {
  font-size: 20px !important;
}

#team_page p {
  font-size: 24px !important;
}

#revealing-fate-homepage-description {
  margin-top: 75px;
}

#homepage-paragraph-its-no-wonder {
  font-size: 24px !important;
}

.team-member-bio {
  border-left: 1px solid black;
  margin-bottom: 10px;
}

.team-member-bio h3 {
  margin-top: -0px;
}

.mugshot {
  width: 97%;
  margin-bottom: 8px;
}

.everything-plus {
  color: #446d73;
  padding-bottom: 15px;
}

.service-body ul {
  padding-left: 18px;
}

.strikethrough {
  text-decoration: line-through;
}

.tier-box {
  padding-bottom: 6px;
  border-bottom: 1px solid black;
}

#reading_services li {
  padding-top: 4px;
  padding-bottom: 4px;
}

.hidden {
  display: none;
}

.tier-a {
  cursor: pointer;
}

.tier-text {
  color: #446d73;
}

.form-wrapper {
  position: relative;
  text-align: center;
  width: 100%;
}

.field-wrapper {
  line-height: 180%;
}

.field, .prefix-field, .gender-field {
  position: relative;
  display: inline;
  vertical-align: middle;
  width: 290px;
  height: 40px;
  font-size: 190%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid #d2d2d2 1px;
  margin: 5px auto;
  padding: 5px;
  background: white;
  line-height: 100% !important;
}
.prefix-field {
  width: 105px;
  font-size: 150%;
  cursor: pointer;
}
.gender-field {
  width: 195px;
}

.form-label {
  font-family: 'Philosopher';
  font-size: 26px;
  margin-right: 10px;
  font-weight: 200;
}

#info_for_reading_birth_date_1i, #info_for_reading_birth_date_2i, #info_for_reading_birth_date_3i, #info_for_reading_birth_date_4i, #info_for_reading_birth_date_5i {
  background: white;
  padding: 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 130%;
}

.promo-field {
  position: relative;
  width: 250px;
  height: 30px;
  font-size: 110%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: solid #d2d2d2 1px;
  margin: 5px auto;
  padding: 2px 5px;
  background: white;
  line-height: 100% !important;
}

.form-hr {
  position: relative;
  width: 60%;
  height: 1px;
  background: #d8d8d8;
  margin: 30px auto;
}

.basic-button {
  border: 3px solid #dbdd33;
  background-color: #C11B17;
  color: #dbdd33;
}

.basic-button:hover {
  border: 3px solid #dbdd33;
  background-color: #C11B17;
  color: #dbdd33;
}

.alert-reading-services {
  text-align: center;
  background-color: #dbdd33;
  color: #C11B17;
  font-size: 19px;
}

.basic-new-price {
  font-size: 13px;
}
.gold{
  background: -webkit-linear-gradient(120deg, #e1c057 010%, #bf963d 23%, #e1c057 75%, #bf963d 100%);
  background: linear-gradient(-30deg, #e1c057 010%, #bf963d 23%, #e1c057 75%, #bf963d 100%);
  text-shadow: 0 0 5px rgba(150,118,48,.9);
  color: #FFF;
  border: 2px solid transparent;
  -o-border-image: linear-gradient(135deg, #e1c057 0%, #8f5f1f 18%, #936322 35%, #bf963d 52%, #e1c057 68%, #f6ecd5 82%, #e1c057 100%);
  border-image: -webkit-linear-gradient(315deg, #e1c057 0%, #8f5f1f 18%, #936322 35%, #bf963d 52%, #e1c057 68%, #f6ecd5 82%, #e1c057 100%);
  border-image: linear-gradient(135deg, #e1c057 0%, #8f5f1f 18%, #936322 35%, #bf963d 52%, #e1c057 68%, #f6ecd5 82%, #e1c057 100%);
  border-image-slice: 1;
}
.silver{
  background: -webkit-linear-gradient(120deg, #e0e0e0 010%, #bcbcbc 23%, #f4f4f4 75%, #bcbcbc 100%);
  background: linear-gradient(-30deg, #e0e0e0 010%, #bcbcbc 23%, #f4f4f4 75%, #bcbcbc 100%);
  text-shadow: 0 0 5px #FFF;
  color: #222;
  border: 2px solid transparent;
  -o-border-image: linear-gradient(135deg, #e0e0e0 0%,#919191 23%,#999999 33%,#bcbcbc 49%,#e0e0e0 68%,#f4f4f4 82%,#e0e0e0 100%);
  border-image: -webkit-linear-gradient(315deg, #e0e0e0 0%,#919191 23%,#999999 33%,#bcbcbc 49%,#e0e0e0 68%,#f4f4f4 82%,#e0e0e0 100%);
  border-image: linear-gradient(135deg, #e0e0e0 0%,#919191 23%,#999999 33%,#bcbcbc 49%,#e0e0e0 68%,#f4f4f4 82%,#e0e0e0 100%);
  border-image-slice: 1;
}

.button-blue {
  border: 3px solid #3b88a4;
  background: #3b88a4;
  color: white;
}
