.blog-tooltip {
  color: purple;
}

.blog-post p {
  font-size: 20px !important;
}

.example2-link {
  font-size: 20px;
  cursor: pointer;
  font-family: 'Georgia', serif;
}

.example1-link {
  font-size: 20px;
  cursor: pointer;
  font-family: 'Georgia', serif;
}
