body {
  padding-top: 20px;
  padding-bottom: 20px;
}

#navcontainer ul
{
  padding: 10px 0 10px 0;
  margin: 0 0 20px 0;
  list-style-type: none;
  background-color: #92696f;
  color: #FFF;
  width: 100%;
  text-align: center;
}

#navcontainer li {
  font-family: Economica !important;
  font-size: 22px;
}

#navcontainer li {
  display: inline;
}

#navcontainer li a
{
  color: #FFF;
  padding: .2em 1em;
}

#navcontainer li a:hover
{
  text-decoration: underline;
  color: #fff;
}