// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Mobile blog posts
.row-mobile {
  .blog-post {
    padding: 0 !important;
    .blog-post-title {font-size: 2em !important;}
  }
}

#mc_embed_signup {
    text-align: center;
    font-size: 130% !important;
}
#mc-embedded-subscribe {
  padding: 5px 25px;
  margin-top: 6px;
}
