// Place all the styles related to the readings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reading {
  td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
  }

  .td-heading {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid black;
  }

  .td-heading-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .td-content-heading {
  }
}

.public-reading {
  p {
    font-size: 18px !important;
    text-align: left;
  }
  .significance {
    font-size: 16px !important;
    color: blue !important;
    text-align: left !important;
  }
  .last-sentence-of-paragraph {
    color: #1aae54;
  }
}
